client_secret.json
spotify_stuff.py
gifs
gifs/bigmario.gif
gifs/coltesseract.gif
gifs/cubes.gif
gifs/doom.gif
gifs/earth.gif
gifs/hex.gif
gifs/kart.gif
gifs/mario.gif
gifs/mkart.gif
gifs/nice.gif
gifs/obama.gif
gifs/rain.gif
gifs/samus.gif
gifs/shapes.gif
gifs/square.gif
gifs/tesseract.gif
gifs/toad.gif
gifs/triange.gif
gifs/vortex.gif
gifs/wonka.gif
animation.pyc
ezmatrix.pyc
modules.pyc
pixnum.pyc
rpi-rgb-led-matrix/COPYING
rpi-rgb-led-matrix/Makefile
rpi-rgb-led-matrix/README.md
rpi-rgb-led-matrix/adapter
rpi-rgb-led-matrix/bindings
rpi-rgb-led-matrix/examples-api-use
rpi-rgb-led-matrix/fonts
rpi-rgb-led-matrix/img
rpi-rgb-led-matrix/include
rpi-rgb-led-matrix/led-matrix
rpi-rgb-led-matrix/lib
rpi-rgb-led-matrix/utils
rpi-rgb-led-matrix/wiring.md
temp.jpg
